/* ContactStyles.css */

.contact-container {
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
  
  /* Add any additional styling as needed */
  